<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <LeftIsActive>True</LeftIsActive>
  <LeftStartDir>c:\temp\5 erw yr tyrtey\</LeftStartDir>
  <LeftActiveItem>3</LeftActiveItem>
  <RightStartDir>c:\temp\1111111111\2222222222\3333333333\</RightStartDir>
  <RightActiveItem>10</RightActiveItem>
  <Width>90</Width>
  <Height>30</Height>
</Settings>